<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
	<title>CHANGE PASSWORD FORM</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/loginpagestyle.css' %} "
</head>
<body >
	<div class="container col-md-7 mt-5">
		<form method="POST">
			{% csrf_token %}
		<div class="card">
			<div class="card-header bg-dark text-white text-center">
				<h1>CHANGE PASSWORD FORM</h1>	
			</div>
			<div class="card-body">
                <div class="form-group">
					<label>ROLL NUMBER</label>
					<input type="text" name="SID" placeholder="ENTER SID" required class="form-control">
				</div>
                <div class="form-group">
					<label>Old Password</label>
					<input type="password" name="old password" placeholder="ENTER OLD PASSWORD" required class="form-control">
				</div>
				<div class="form-group">
					<label>New Password</label>
					<input type="password" name="password" placeholder="ENTER NEW PASSWORD" required class="form-control"><p color='red'>*Password must not be welcome123#</p>
				</div>
                <div class="form-group">
					<label>Confirm Password</label>
					<input type="password" name="confirm password" placeholder="ENTER PASSWORD AGAIN" required class="form-control">
				</div>
				</div>
		<div class="card-footer">
			<div class="form-group " >
				<input type="submit" value="Save Changes" class="form-control" style="background-color: skyblue" >
			</div>
		</div>
		{% if message %}
			<h1 style="color:red">{{message}}</h1>
		{% endif %}
		</div>
	</form>
	</div>
</body>
</html>